<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAST</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <header th:insert="~{user/templateUser.html::nav_user}"></header>

    <main>
        <section class="affiliate-program">
            <div class="affiliate-header">
                <h1>Gana con nuestra experiencia</h1>
                <p>Obtén hasta un 5% de descuento por cada referencia exitosa</p>
                <button class="join-now-btn">Únete Ahora</button>
            </div>
            <div class="affiliate-steps">
                <h2>¿Cómo funciona?</h2>
                <div class="steps-container">
                    <div class="step">
                        <h3>Únete</h3>
                        <p>Es gratis y fácil unirse. ¡Comienza ahora mismo!</p>
                    </div>
                    <div class="step">
                        <h3>Promociona</h3>
                        <p>Elige productos de nuestro catálogo para promocionar entre tus clientes o amigos.</p>
                    </div>
                    <div class="step">
                        <h3>Gana</h3>
                        <p>Obtén hasta un 5% de comisión en referencias exitosas.</p>
                        <p>Gana comisiones por todas las compras calificadas, no solo los productos que promocionaste.</p>
                    </div>
                </div>
            </div>
            <div class="terms-conditions">
                <h2>Términos y Condiciones</h2>
                <div class="terms-content">
                    <div class="terms-box">
                        <h3>Requisitos</h3>
                        <ul>
                            <li>Tener una cuenta activa en alguna plataforma de redes sociales.</li>
                            <li>Contar con al menos 20,000 seguidores reales.</li>
                        </ul>
                    </div>
                    <div class="terms-box">
                        <h3>Porcentajes</h3>
                        <ul>
                            <li>5% por cada comision exitosa</li>
                        </ul>
                    </div>
                    <div class="terms-box">
                        <h3>Nota Importante</h3>
                        <p>Si la tienda cierra temporalmente para cumplir con pedidos, los afiliados pueden dejar de promocionar sin que esto afecte sus comisiones durante el proceso.</p>
                    </div>
                </div>
            </div>
        </section>
        
    </main>
    
    <footer class="footer" th:insert="~{user/templateUser.html::footer}"></footer>

    <div th:insert="~{user/templateUser.html::script}"></div>
</body>

</html>