<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAST</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <header th:insert="~{user/templateUser.html::nav_user}"></header>

    <main>
        <section class="bestsellers">
            <!-- <h2 th:text="${categoryName}"></h2>-->
             <h2>COLECCIONES</h2>
            <div class="bestsellers-grid">
                <div class="product-card" th:each="product : ${products}">
                    <button class="favorite-btn">❤️</button>
                    <img th:src="@{'/images/' + ${product.image}}" alt="Producto" class="product-image">
                    <h3 class="product-name" th:text="${product.name}"></h3>
                    <p class="product-price" th:text="${product.price}+ '0 $'"></p>
                    <a th:href="@{/bordados/producto/{id}(id=${product.id})}">
                        <button class="c-button c-button--gooey">
                            Seleccionar
                            <div class="c-button__blobs">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </button>
                    </a>
                </div>
            </div>
        </section>
    </main>

    <footer class="footer" th:insert="~{user/templateUser.html::footer}"></footer>

    <div th:insert="~{user/templateUser.html::script}"></div>
</body>

</html>