<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GAST</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <header th:insert="~{user/templateUser.html::nav_user}"></header>

    <main>
        <section class="privacy-policy">
            <h1>Política de envios y reembolso</h1>
            <h2>POLÍTICA DE ENVIOS </h2>
            <P><b>¿Realizan envíos a mi país?</b></P>
            <p>Realizamos envíos solo en España por el momento.</p>

            <p><b>¿Cuáles son las tarifas de envío?</b></p>
            <p>El envio es gratuito en todos los productos. </p>

            <p><b>¿Cuánto tiempo tardará en llegar mi paquete?</b></p>
            <p>Por favor, espere de 7 a 14 días para la manipulación y procesamiento. Una vez que sus pedidos han sido
            procesados, por favor espere 2-5 días para que el pedido sea entregado. Utilizamos correos españa como nuestro socio
            transportista para el envío. </p>

            <p><b>NOTA: Necesitamos de 10 a 14 días para hacer y enviar los diseños existentes</b></p> 

            <p>De 7 a 10 días para la producción</p>
            <p>De 2 a 4 días para el envío</p>

            <p>Para los pedidos personalizados necesitamos de 15 a 20 días,</p>
            <p>De 10 a 16 días para trabajar en el diseño y el bordado</p>
            <p>De 2 a 4 días para el envío</p>

            <p>Este es el tiempo estimado de envío por favor utilice la página de seguimiento de pedidos para obtener
                información detallada.</p>

            <p><b>¿Cómo puedo hacer el seguimiento de mi pedido?</b></p>
            <p>Una vez enviado su pedido, recibirá el número de seguimiento en su correo electrónico, utilícelo en nuestra
                página de seguimiento. Si tiene alguna pregunta sobre el seguimiento de un pedido en particular, póngase en
                contacto con nosotros.</p>











            <h2>POLÍTICA DE DEVOLUCIÓN </h2>
            <p>
                Dado que gast shop tiene productos que son personalizados y otros que no, la política de cambios y
                devoluciones será diferente para un caso u otro.
            </p>

            <p>
                En los casos de los PEDIDOS PERSONALIZADOS, no podrán devolverse según la Ley 3/2014 en el caso de
                aquellos productos fabricados según las especificaciones del cliente o que hayan sido realizados a
                medida del mismo. Tampoco habrá derecho de devolución en el caso de que el desperfecto sea debido a un
                mal uso.
            </p>

            <p>
                Quedan excluidas de esta jurisdicción aquellas devoluciones que se deriven de un error cuyo responsable
                sea gast shop. En tal caso, nuestra empresa se compromete a reparar o cambiar el producto
                defectuoso por otro en buen estado o de la devolución del dinero de dicho artículo una vez esté de
                vuelta en las instalaciones de gast shop. También se hará cargo de los gastos de devolución y de
                envío.
            </p>

            <p>
                En este último caso, el cliente dispone de un plazo de 2 días naturales (desde que el pedido es
                entregado) para escribirnos al email de la empresa explicando el defecto del artículo y
                enviando referencias de este para poder tramitar la devolución/cambio. En el caso de que se proceda al
                cambio o devolución, nosotros nos encargaremos de los gastos de envío y os mandaremos la etiqueta de
                envío correspondiente para que se nos devuelva el producto. Para devolvernos el producto, el cliente
                tendrá que envolver el producto y pegar la pegatina de envío que se le ha enviado. Una vez esté todo, el
                repartidor correspondiente de SEUR irá a recoger el paquete a la dirección que el cliente desee.
            </p>

            <p>
                Los productos deberán ser devueltos en la misma caja o embalaje en la que se han entregado.
            </p>

            <p>
                El usuario se responsabiliza de que la imagen o el texto que envía a la hora de hacer el pedido tienen
                unos requisitos adecuados para su correcta fabricación, como de la calidad, la luz, los colores de la
                foto, estética, etc.
            </p>

            <p>
                En los casos de los PEDIDOS NO PERSONALIZADOS, si por algún motivo no estás conforme con tu compra,
                tienes un plazo de 15 días naturales para devolverlo, asumiendo el gasto de envío del producto del
                domicilio a la oficina gast shop. Una vez recibamos el producto y veamos que está en correctas
                condiciones, te haremos un vale de gast shop equivalente al mismo precio que el/los artículos que
                has devuelto para que puedas disfrutarlo en cualquier otra cosa en nuestra tienda gast shop.
            </p>

            <p>
                En caso de tara, defecto de fábrica o error en el envío por parte de gast shop, se devolverá el
                importe íntegro o cambiará por otro artículo en buen estado, haciéndonos cargo nosotros de los gastos de
                envío. El cliente dispone de un plazo de 2 días naturales (desde que se le entrega el pedido) para
                escribirnos al email de la empresa explicando el defecto del artículo y enviando
                referencias de este para poder tramitar la devolución/cambio. En el caso de que se proceda al cambio o
                devolución, nosotros nos encargaremos de los gastos de envío y os mandaremos la etiqueta de envío
                correspondiente para que se nos devuelva el producto. Para devolvernos el producto, el cliente tendrá
                que envolver el producto y pegar la pegatina de envío que se le ha enviado. Una vez esté todo, el
                repartidor correspondiente de SEUR irá a recoger el paquete a la dirección que el cliente desee.
            </p>

            <p>
                Si se trata de un cambio de talla, el cliente se hará cargo de los gastos de envío de vuelta a nuestra
                oficina y de nuestra oficina otra vez a su domicilio.
            </p>

            <p>
                En cualquiera de los casos, se deberá informar al correo electrónico ... del motivo de la devolución
                junto con evidencias.
            </p>

            <p>
                Para poder realizar una devolución o cambio, es imprescindible que tanto el producto como el embalaje
                mantengan su estado original en el momento del envío. Si cuando recibamos el producto no está en buen
                estado, no se hará el vale ni se podrá realizar el cambio de talla ni la devolución.
            </p>

            <p>
                El usuario se responsabiliza de que la imagen o el texto que envía a la hora de hacer el pedido tienen
                unos requisitos adecuados para su correcta fabricación, como de la calidad, la luz, los colores de la
                foto, estética, etc. Y de que los colores y formas se distinguen adecuadamente. Si los colores por la
                pantalla o luz no se vieran como en la realidad es, se puede especificar en observaciones el color o
                colores que lleve el diseño. Sino, se harán como se ven en la pantalla. El tamaño máximo en el que se
                puede bordar un diseño es en escala de 20x20cm.
            </p>

            <h3>CANCELACIÓN DE UN PEDIDO</h3>
            <p>
                Los pedidos que estén diseñados y bordados no podrán cancelarse. Si está el diseño del pedido hecho y no
                bordado, podrá cancelarse el pedido parcialmente. El coste de la realización del diseño no se devolverá,
                el resto del importe sí. Y si el pedido no está ni bordado ni diseñado, sí que se podrá cancelar el
                pedido y se devolvería el importe completo del pedido.
            </p>
        </section>
    </main>
    <footer class="footer" th:insert="~{user/templateUser.html::footer}"></footer>

    <div th:insert="~{user/templateUser.html::script}"></div>
</body>

</html>