<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favoritos</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>

<body>
    <header th:insert="~{user/templateUser.html::nav_user}"></header>

    <main>
        <section class="bestsellers">
            <h2>Mis Favoritos</h2>
            <div class="bestsellers-grid">
                <div class="product-card" th:each="product : ${products}">
                    <button class="favorite-btn" th:attr="onclick=|window.location.href='@{/bordados/wishlist/remove/{id}(id=${product.id})}'|">❌</button>
                    <img th:src="@{'/images/' + ${product.image}}" alt="Producto" class="product-image">
                    <h3 class="product-name" th:text="${product.name}"></h3>
                    <p class="product-price" th:text="${product.price} + '0 $'"></p>
                    <a th:href="@{/bordados/producto/{id}(id=${product.id})}">
                        <button class="c-button c-button--gooey">
                            Seleccionar
                            <div class="c-button__blobs">
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </button>
                    </a>
                </div>
            </div>
        </section>
    </main>
    <footer class="footer" th:insert="~{user/templateUser.html::footer}"></footer>
    <div th:insert="~{user/templateUser.html::script}"></div>
</body>

</html>
